/*css reset*/
/*css variables*/*
:root{
    --navbar-height: 59px;
}
/*navigation bar*/
#navbar{
    display: flex;
    align-items: center;
    margin: 70px 75px;
}
/*navigation bar: logo and image*/
.logo{
    margin: 10px 34px;

}

.logo img{
    margin: 10px 10px;
    height: 40px;
    width: 40px;
}
/*navigation bar: list styling*/
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 7.1;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/*home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('/img/s.jpg') no-repeat center center/cover ;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.79;
}